env:
  global:
    - CC_TEST_REPORTER_ID=35a60e6db23e8cc0878a8d29a2ab4335f91cc2aec52f00983b22584c9856d110
    - DEP_VERSION="0.4.1"

language: go
go:
- tip

before_install:
  - curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
  
install:
  - dep ensure
  
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
  - go test -coverprofile c.out ./...

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
